{% extends 'core/base.html' %}

{% block title %}
{% endblock %}

{% block content %}
    <div class="container2">
        <div class="main" style="padding-top: 40px; padding-left: 25%; padding-right: 25%">
            <div class="box">
                <div class="container2">
                    <div class="dl-highlights">
                        <div class="dl-highlights-card hl-features js-redirect" data-url="">
                            {% if user.is_authenticated %}
                                {% for Post in Post %}
                                <h2 class="Post-titles">{{ Post.title }}</h2>
                                <p class="post-desc">{{ Post.description }}</p>
                            {% endfor %}
                            {% else %}

                                <P style="color: white; font-family: Arial, Helvetica, sans-serif;">Login please.</P>
                            {% endif %}
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}