{% extends 'core/base.html' %}

{% block title %}
{% endblock %}

{% block content %}
    <form class="login-form" method="POST">
        <div class="login-form__content">
            <div class="login-form__header">Login To Your Account</div>
            {% csrf_token %}
            <input type="text" name="username" required_id="id_username" placeholder="Username" class="login-form__input">
            <input type="text" name="password" required_id="id_password" placeholder="Password" class="login-form__input">
            <button type="submit" class="login-form__button">Login</button>
        </div>
    </form>
    <p class="login-form__change">Don't have an account?</p>
    <a href="/accounts/register" class="login-form__change">Register here</a>
{% endblock %}